<!DOCTYPE html>
<html>
<head>
  <title>Ruby</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p> <%= link_to "About us", about_path %></p> 
<p><%= link_to "Home", root_path %></p> 
#<%= render 'layouts/header' %>
#<div class="container">
<%= yield %>
</div>
</body>
</html>
